@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Slab:wght@400;700&display=swap');

:root {
	--primary-color: #ff25b6;
	--secondary-color: #f17ad6;
	--background: #ffe1f2;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	background-color: var(--background);
}

.backdrop {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	position: fixed;
	cursor: pointer;
	height: 100vh;
}

.main-header {
	padding: 1rem;
	background-color: var(--primary-color);
	min-height: 8rem;
}

.main-header__heading {
	margin: 0;
	text-decoration: none;
	color: #000;
	font-family: 'Bangers', serif;
	letter-spacing: 5px;
}

.mobile-nav__icon {
	display: none;
	cursor: pointer;
	float: right;
	width: 2.5rem;
	height: 2.5rem;
	border: 3px solid;
	background-color: var(--secondary-color);
}

.mobile-nav__icon div {
	width: 90%;
	height: 3px;
	margin: 5px auto;
	background-color: #000;
}

.main-nav__lists {
	text-align: right;
	list-style: none;
}

.main-nav__list {
	display: inline-block;
	margin: 0 0.7rem;
}

.main-nav__list a {
	text-decoration: none;
	color: #000;
}

.mobile-nav {
	display: none;
	width: 70vw;
	margin: 0;
	background-color: var(--secondary-color);
	position: fixed;
	top: 15rem;
	left: 15vw;
	text-align: center;
}

.mobile-nav__list {
	padding: 1rem;
}

.mobile-nav__lists {
	display: block;
	list-style: none;
	padding: 0;
}

.mobile-nav__list a {
	text-decoration: none;
	color: black;
}

main {
	text-align: center;
	max-width: 35rem;
	margin: auto;
	padding: 1rem;
}

label {
	margin: 1rem;
	display: block;
}

input {
	display: block;
	margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}

.checkBtn {
	border: none;
	display: block;
	padding: 0.5rem 1rem;
	margin: 1rem auto;
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
}

.checkBtn:hover {
	background-color: var(--secondary-color);
	color: #000;
}

.checkBtn:active {
	background-color: var(--primary-color);
	color: #fff;
}

#output {
	width: 50%;
	resize: none;
	height: 5rem;
	border: 2px solid;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 1.5rem;
}

footer {
	background-color: var(--primary-color);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
}

.footer-social {
	list-style: none;
	padding: 0;
	text-align: center;
}

.footer-social__links {
	display: inline-block;
	padding: 0 1.5rem;
}

.footer-social__links a {
	text-decoration: none;
	color: #fff;
}

.footer-social__links a:hover {
	color: #cae0eb;
}

@media (max-width: 500px) {
	.main-nav__list {
		display: none;
	}
	.mobile-nav__icon {
		display: block;
	}
}
